* {
	bg: #131112;
	cur: #4E4554;
	fgd: #ECEEED;
	cmt: #928374;
	cya: #676165;
	grn: #6B5D6C;
	ora: #4E4554;
	pur: #615171;
	red: #8972A1;
	yel: #C6BAD2;

	foreground: @fgd;
	background: @bg;
	urgent-background: @red;
    transparent-background: rgba(24, 22, 23, 1);

	selected-background: @active-background;
	selected-urgent-background: @urgent-background;
	selected-active-background: @active-background;
	separatorcolor: @active-background;
	bordercolor: @ora;
    background-color: transparent;
}
