* {
    border: none;
    font-family: "JetbrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
}

@import "../../themes/theme.css";

tooltip {
    border-width: 3px;
    border-radius: 15px;
    border-style: solid;
    border-color: @base;
    background: @surface;
}

/* tooltip content */
tooltip label {
    all: inherit;
    color: @text;
    text-shadow: none;
}

window#waybar {
    background: @bar-tr;
    border-radius: 0px;
}

window#waybar > box {
    margin-top: 0px;
    margin-bottom: 0px;
}

#clock,
#battery,
#pulseaudio,
#network,
#memory,
#disk,
#cpu,
#bluetooth,
#temperature,
#workspaces,
#window,
#tray,
#backlight 
#language,
#keyboard-state,
#custom-weather,
#custom-arch_logo,
#custom-waybar_switcher,
#custom-theme_settings,
#custom-power_button,
#custom-theme_switcher,
#custom-wall_switcher,
#custom-seperator,
#pulseaudio {
    background: @surface;
    color: @base;
    opacity: 1.0;
    border-radius: 14px;
    margin: 15px 5px 15px 5px;
    padding: 6px 6px 6px 6px;
}

#tray {
    margin-bottom: 0px;
}

#clock {
    background-color: @foam;
}

#disk {
    background-color: @love;
}

#memory {
    background-color: @pine;
}

#cpu {
    background-color: @iris;
}

#workspaces {
    background-color: @surface;
    font-weight: bold;
    font-style: normal;
    color: @text;
}

#workspaces button {
  background-color: @surface;
  color: @text;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background-color: @foam;
  color: @base;
  border-radius: 14px;
  padding-bottom: 14px;
  padding-top: 12px;
  margin-bottom: 2px;
  margin-top: 2px;
}

#workspaces button:hover {
  background-color: @foam;
  color: @base;
  border-radius: 14px;
  padding-bottom: 14px;
  padding-top: 12px;
  margin-bottom: 2px;
  margin-top: 2px;
}

#pulseaudio {
    background-color: @surface;
    color: @gold;
    border-radius: 14px 14px 0px 0px;
    margin-bottom: 0px;
}

#pulseaudio.microphone {
    color: @love;
    margin-top: 0px;
    border-radius: 0px 0px 14px 14px;
}

#keyboard-state {
    background-color: @rose;
}

#custom-arch_logo {
    margin-top: 10px;
    background-color: @foam;
}

#custom-seperator {
    background: @bar-tr;
    opacity: 0.0;
    margin: 0px;
    padding: 0px;
    border: 0px solid transparent;
}

#custom-wall_switcher,
#custom-power_button,
#custom-theme_switcher {
    color: @rose;
    margin: 0px 5px 0px 5px;
    padding: 2px 6px 2px 6px;
    border-radius: 0px;
}

#custom-theme_settings {
    color: @rose;
    margin: 0px 5px 0px 5px;
    padding: 2px 6px 2px 6px;
}

#custom-waybar_switcher {
    color: @rose;
    margin: 0px 5px 5px 5px;
    padding: 2px 6px 2px 6px;
}

#custom-waybar_switcher {
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 10px;
}

#custom-theme_settings {
    border-radius: 10px 10px 0px 0px;
    padding-top: 8px;
}
