* {
    border: none;
    font-family: "JetbrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

@import "../../themes/theme.css";

window#waybar {
    background: @bar-bg;
    transition-property: background-color;
    transition-duration: .5s;
}

tooltip {
    background: @surface;
    border-color: @base;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
}

#workspaces {
    background: @base;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    color: @text;
}

#workspaces button {
    color: @text;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
}

#workspaces button.active {
    color: @surface;
    background: @foam;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity: 1.0;
}

#workspaces button:hover {
    color: @base;
    background: @iris;
    border-radius: 15px;
    min-width: 40px;
    opacity: 0.7;
}


#custom-padding_bg,
#custom-padding_left,
#custom-padding_right,
#custom-waybar_switcher,
#custom-theme_settings,
#custom-power_button,
#custom-theme_switcher,
#custom-wall_switcher,
#custom-power_profile,
#custom-weather,
#keyboard-state,
#clock,
#battery,
#pulseaudio,
#network,
#memory,
#disk,
#cpu,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
    background: @surface;
    opacity: 1;
    margin: 4px 0px 4px 0px;

    padding-left: 7.6px;
    padding-right: 7.6px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
}

#backlight {
    border-radius: 15px 0px 0px 10px;
}

#clock {
    color: @foam;
}

#disk {
    color: @love;
}

#memory {
    color: @foam;
    border-radius: 0px 0px 0px 0px;
    border-left: 0px;
    border-right: 0px;
}

#cpu {
    color: @iris;
}

#network {
    color: @gold;
}

#pulseaudio {
    color: @rose;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: @love;
}

#battery {
    color: @battery;

    /* hack */
    border-radius: 21px 21px 21px 21px;
    margin-right: 9px;
    margin-left: 9px;
}

#custom-weather {
    color: @foam;

    /* hack */
    border-radius: 21px 21px 21px 21px;
    margin-right: 9px;
    margin-left: 9px;
}

#custom-waybar_switcher,
#custom-theme_settings,
#custom-wall_switcher,
#custom-theme_switcher,
#custom-power_button {
    background-color: @surface;
    color: @rose;
}

#custom-padding_left {
    border-radius: 21px 0px 0px 21px;
    margin-left: 9px;
}

#custom-padding_right {
    border-radius: 0px 21px 21px 0px;
    margin-right: 9px;
}
