    color: @foam
}

#workspaces button.focused {
    color: @foam;
    border-radius: 10px;
}

#workspaces button.urgent {
    background: @love;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @base;
    color: @subtle;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

#custom-weather,
#custom-arch_logo,
#keyboard-state,
#clock,
#battery,
#pulseaudio,
#network,
#memory,
#disk,
#cpu,
#bluetooth,
#temperature,
#workspaces,
#window,
#tray,
#backlight {
    color: @base;
    opacity: 9.9;
    padding: 0px 10px;
    margin: 0px 0px;
    margin-bottom: 10px;
    margin-top: 0px;
    border: 0px solid transparent;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}


#workspaces {
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 0px;
}

#keyboard-state {
    background: @rose;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-bg_switcher {
    background: @iris;
    border-radius: 10px 0px 0px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#custom-power_button {
    background: @love;
    border-radius: 0px 10px 10px 0px;
    margin-left: 5px;
    margin-right: 5px;
}

#clock {
    background: @foam;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#window {
    background: @surface;
    color: @text;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#custom-weather {
    background: @rose;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#disk {
    background: @love;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#memory {
    background: @foam;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#cpu {
    background: @iris;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#battery {
    background: @battery;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#network {
    background: @gold;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#pulseaudio {
    background: @rose;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#pulseaudio.microphone {
    background: @love;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#tray {
    background: @pine;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 5px;
}
