gradient_color_1='#<material.hex.gradient0>'
gradient_color_2='#<material.hex.gradient1>'
gradient_color_3='#<material.hex.gradient2>'
gradient_color_4='#<material.hex.gradient3>'
gradient_color_5='#<material.hex.gradient4>'
gradient_color_6='#<material.hex.gradient5>'
gradient_color_7='#<material.hex.gradient6>'
gradient_color_8='#<material.hex.gradient7>'
