#                         FG                           BTN_BG                    bright                   less brdark        less da     txt fg               br text              btn fg           txt bg     bg     shadow   sel bg     sel fg     link       visited           alt bg default          tooltip bg  tooltip_fg	placeholder_fg
[ColorScheme]
active_colors=#<material.hex.text4>,          #<material.hex.base>, #<material.hex.base>, #<material.hex.base>, #<material.hex.base>, #<material.hex.base>, #<material.hex.text4>,           #<material.hex.text4>,           #<material.hex.text4>,           #<material.hex.base>, #<material.hex.base>, #<material.hex.base>, #7F7F7F, #<material.hex.text4>, #7F7F7F, #<material.hex.text4>,            #<material.hex.base>, #<material.hex.text4>,           <material.hex.base>,  #<material.hex.text4>, #<material.hex.overlay>
disabled_colors=#<material.hex.overlay>, #<material.hex.base>, #<material.hex.base>, #<material.hex.base>, #<material.hex.base>, #<material.hex.base>, #<material.hex.overlay>,  #<material.hex.overlay>,  #<material.hex.overlay>,  #<material.hex.base>, #<material.hex.base>, #<material.hex.base>, #7F7F7F, #<material.hex.text4>, #7F7F7F, #<material.hex.overlay>,   #<material.hex.base>, #<material.hex.overlay>,  #<material.hex.base>, #<material.hex.overlay>,  #<material.hex.overlay>
inactive_colors=#<material.hex.text4>,          #<material.hex.base>, #<material.hex.base>, #<material.hex.base>, #<material.hex.base>, #<material.hex.base>, #<material.hex.text4>,           #<material.hex.text4>,           #<material.hex.text4>,           #<material.hex.base>, #<material.hex.base>, #<material.hex.base>, #7F7F7F, #<material.hex.text4>, #7F7F7F, #<material.hex.text4>,            #<material.hex.base>, #<material.hex.text4>,           #<material.hex.base>, #<material.hex.text4>, #<material.hex.overlay>
