@define-color base #191724;
@define-color surface #1F1D2E;
@define-color overlay #26233A;
@define-color muted #6E6A86;
@define-color subtle #908CAA;
@define-color text #E0DEF4;
@define-color love #EB6F92;
@define-color gold #F6C177;
@define-color rose #EBBCBA;
@define-color pine #31748f;
@define-color foam #9CCFD8;
@define-color iris #C4A7E7;

#window {
    margin: 0px;
    border: 5px solid @base;
    font-size: 15px;
    background-color: @surface;
    border-radius: 20px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    font: "CaskaydiaCove Nerd Font";
    font-weight: bold;
    background-color: @surface;
   	outline: none;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 2px;
}

#input:focus {
    border: 0px solid @surface;
    margin-bottom: 0px;
    color: @text;
}

#inner-box {
    margin: 4px;
    border: 10px solid @surface;
    color: @text;
    font-weight: bold;
    background-color: @surface;
    border-radius: 15px;
}

#outer-box {
    margin: 0px;
    border: none;
    border-radius: 15px;
}

#scroll {
    margin-top: 5px;
    border: none;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 15px;
    margin-bottom: 15px;
}

#text:selected {
    color: @surface;
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(90deg, @foam 0%,  @text 100%);
}
