#window {
    margin: 0px;
    border: 5px solid #1f1d2e;
    font-size: 16px;
    background-color: rgba(31, 29, 46, 1);
    border-radius: 15px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: #e0def4;
    font-weight: bold;
    background-color: rgba(0,0,0,0);
    background: #1f1d2e;
   	outline: none;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 2px;
}

#input:focus {
    border: 0px solid #1f1d2e;
    margin-bottom: 0px;
}

#inner-box {
    margin: 4px;
    border: 10px solid #1f1d2e;
    color: #e0def4;
    font-weight: bold;
    background-color: #1f1d2e;
    border-radius: 15px;
}

#outer-box {
    margin: 0px;
    border: none;
    border-radius: 15px;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
    /* background: rgb(255,255,255); */
}

#text:selected {
    color: #1f1d2e;
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(90deg,rgba(196, 167, 231, 1)0%,   rgba(224, 222, 244, 1) 100%);
}
