* {
    border: none;
    font-family: "JetbrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

@import "../../themes/theme.css";

window#waybar {
    background: @surface;
}

tooltip {
    border-width: 3px;
    border-radius: 15px;
    border-style: solid;
    border-color: @base;
    background: @surface;
}

/* tooltip content */
tooltip label {
    all: inherit;
    color: @text;
    text-shadow: none;
}

#workspaces {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#workspaces button {
    all: initial;
    padding-left: 10px;
    padding-right: 12px;
    color: @workspace-button-inactive;
    transition: all 0.25s ease-in-out;
    border-radius: 21px;
}

#workspaces button.active {
    color: @base;
    background: @foam;
    min-width: 30px;
}

#workspaces button.urgent {
    background: @love;
    border-radius: 21px;
}

#workspaces button:hover {
    background: @pine;
    color: @base;
    border-radius: 21px;
    transition: all 0.26s ease-in-out;
    min-width: 30px;
}

#custom-padding_bg,
#custom-padding_left,
#custom-padding_right,
#custom-padding_left_love,
#custom-padding_right_love,
#custom-padding_left_gold,
#custom-padding_right_gold,
#custom-padding_left_rose,
#custom-padding_right_rose,
#custom-padding_left_pine,
#custom-padding_right_pine,
#custom-padding_left_foam,
#custom-padding_right_foam,
#custom-padding_left_iris,
#custom-padding_right_iris,
#custom-weather,
#custom-waybar_switcher,
#custom-theme_settings,
#custom-power_button,
#custom-theme_switcher,
#custom-wall_switcher,
#keyboard-state,
#clock,
#battery,
#pulseaudio,
#network,
#memory,
#disk,
#cpu,
#bluetooth,
#temperature,
#tray,
#backlight {
    color: @base;
    opacity: 1;
    margin: 4px 0px 4px 0px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#tray {
    background-color: @base;
}

#workspaces {
    background-color: @base;
}

#keyboard-state {
    background-color: @rose;
}

#clock {
    background-color: @foam;
}


#custom-weather {
    background-color: @foam;
}

#disk {
    background-color: @love;
}

#memory {
    background-color: @pine;
}

#cpu {
    background-color: @iris;
}

#battery {
    background-color: @battery;
}

#network {
    background-color: @rose;
}

#pulseaudio {
    background-color: @gold;
}

#pulseaudio.microphone {
    background-color: @gold;
}

#custom-waybar_switcher,
#custom-theme_settings,
#custom-power_button,
#custom-theme_switcher,
#custom-wall_switcher {
    padding-left: 7px;
    padding-right: 7px;
    background: @rose;
}

#custom-padding_left {
    border-radius: 21px 0px 0px 21px;
    margin-left: 9px;
    background-color: @base;
}

#custom-padding_right {
    border-radius: 0px 21px 21px 0px;
    margin-right: 9px;
    background-color: @base;
}

#custom-padding_left_love {
    border-radius: 21px 0px 0px 21px;
    margin-left: 9px;
    background-color: @love;
}

#custom-padding_right_love {
    border-radius: 0px 21px 21px 0px;
    margin-right: 9px;
    background-color: @love;
}

#custom-padding_left_gold {
    border-radius: 21px 0px 0px 21px;
    margin-left: 9px;
    background-color: @gold;
}

#custom-padding_right_gold {
    border-radius: 0px 21px 21px 0px;
    margin-right: 9px;
    background-color: @gold;
}

#custom-padding_left_rose {
    border-radius: 21px 0px 0px 21px;
    margin-left: 9px;
    background-color: @rose;
}

#custom-padding_right_rose {
    border-radius: 0px 21px 21px 0px;
    margin-right: 9px;
    background-color: @rose;
}

#custom-padding_left_pine {
    border-radius: 21px 0px 0px 21px;
    margin-left: 9px;
    background-color: @pine;
}

#custom-padding_right_pine {
    border-radius: 0px 21px 21px 0px;
    margin-right: 9px;
    background-color: @pine;
}

#custom-padding_left_foam {
    border-radius: 21px 0px 0px 21px;
    margin-left: 9px;
    background-color: @foam;
}

#custom-padding_right_foam {
    border-radius: 0px 21px 21px 0px;
    margin-right: 9px;
    background-color: @foam;
}

#custom-padding_left_iris {
    border-radius: 21px 0px 0px 21px;
    margin-left: 9px;
    background-color: @iris;
}

#custom-padding_right_iris {
    border-radius: 0px 21px 21px 0px;
    margin-right: 9px;
    background-color: @iris;
}
