* {
    border: none;
    font-family: "JetbrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

@import "../../themes/theme.css";

window#waybar {
    background: @surface;
}

tooltip {
    background: @surface;
    border-color: @base;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

#workspaces button {
    all: initial;
    padding: 5px;
    padding-left: 10px;
    padding-right: 12px;
    color: @workspace-button-inactive;
    transition: all 0.25s ease-in-out;
    border-radius: 10px;
}

#workspaces button.active {
    color: @base;
    background: @foam;
    min-width: 30px;
}

#workspaces button.focused {
    color: @workspace-button-active;
    border-radius: 10px;
}

#workspaces button.urgent {
    background: @love;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @pine;
    color: @base;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
    min-width: 30px;
}

#custom-weather,
#custom-waybar_switcher,
#custom-theme_settings,
#custom-power_button,
#custom-theme_switcher,
#custom-wall_switcher,
#keyboard-state,
#clock,
#battery,
#pulseaudio,
#network,
#memory,
#disk,
#cpu,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
    color: @base;
    opacity: 9.9;
    padding: 0px 10px;
    margin: 0px 0px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    background-color: @base;
    border-radius: 10px;
}

#workspaces {
    background-color: @base;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 0px;
}

#keyboard-state {
    background-color: @rose;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#clock {
    background-color: @foam;
    border-radius: 10px 10px 10px 10px;
    border-right: 0px;
    margin-left: 10px;
}


#custom-weather {
    background-color: @foam;
    border-radius: 10px;
    border-left: 0px;
    margin-right: 10px;
    border-right: 0px;
}

#disk {
    background-color: @love;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    margin-left: 10px;
    border-right: 0px;
}

#memory {
    background-color: @pine;
    border-radius: 0px 0px 0px 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px;
}

#cpu {
    background-color: @iris;
    border-left: 0px;
    border-right: 0px;
}

#battery {
    background-color: @battery;
    border-right: 0px;
    border-left: 0px;
}

#network {
    background-color: @rose;
    border-left: 0px;
    border-right: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 12.5px;
    border-radius: 10px;
}

#pulseaudio {
    background-color: @gold;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio.microphone {
    background-color: @gold;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#custom-waybar_switcher,
#custom-theme_settings,
#custom-power_button,
#custom-theme_switcher,
#custom-wall_switcher {
    padding-left: 7px;
    padding-right: 7px;
}

#custom-waybar_switcher {
    background-color: @rose;
    color: @surface;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
    padding-right: 15px;
}

#custom-theme_settings {
    background-color: @rose;
    color: @surface;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
    padding-left: 10px;
}

#custom-wall_switcher {
    background-color: @rose;
    color: @surface;
    border-left: 0px;
    border-right: 0px;
}

#custom-theme_switcher {
    background-color: @rose;
    color: @surface;
    border-left: 0px;
    border-right: 0px;
}

#custom-power_button {
    background-color: @rose;
    color: @surface;
    border-left: 0px;
    border-right: 0px;
}
