* {
    border: none;
    font-family: "JetbrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

@import "../../themes/theme.css";

window#waybar {
    background: @bar-bg;
}

tooltip {
    border-width: 3px;
    border-radius: 15px;
    border-style: solid;
    border-color: @base;
    background: @surface;
}

/* tooltip content */
tooltip label {
    all: inherit;
    color: @text;
    text-shadow: none;
}

#workspaces {
    background: @surface;
}

#workspaces button {
    all: initial;
    padding: 5px;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 5px;
    color: @workspace-button-inactive;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

#workspaces button.active {
    color: @foam
}

#workspaces button.focused {
    color: @foam;
    border-radius: 10px;
}

#workspaces button.urgent {
    background: @love;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @base;
    color: @subtle;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

#custom-waybar_switcher,
#custom-theme_settings,
#custom-power_button,
#custom-theme_switcher,
#custom-wall_switcher, 
#custom-weather,
#custom-arch_logo,
#keyboard-state,
#clock,
#battery,
#pulseaudio,
#network,
#memory,
#disk,
#cpu,
#bluetooth,
#temperature,
#workspaces,
#window,
#tray,
#backlight {
    color: @base;
    opacity: 9.9;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px 0px;
    margin-top: 0px;
    border: 0px solid transparent;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}


#workspaces {
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 0px;
}

#keyboard-state {
    background: @rose;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#clock {
    background: @foam;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#window {
    background: @surface;
    color: @text;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#custom-weather {
    background: @rose;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#disk {
    background: @love;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#memory {
    background: @foam;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#cpu {
    background: @iris;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#battery {
    background: @battery;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#network {
    background: @gold;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#pulseaudio {
    background: @rose;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#pulseaudio.microphone {
    background: @love;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#tray {
    background: @pine;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 5px;
}


#custom-waybar_switcher,
#custom-theme_settings,
#custom-power_button,
#custom-theme_switcher,
#custom-wall_switcher {
    padding-left: 7px;
    padding-right: 7px;
}

#custom-waybar_switcher {
    background-color: @surface;
    color: @rose;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
    padding-right: 15px;
}

#custom-theme_settings {
    background-color: @surface;
    color: @rose;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
    padding-left: 10px;
}

#custom-wall_switcher {
    background-color: @surface;
    color: @rose;
    border-left: 0px;
    border-right: 0px;
}

#custom-theme_switcher {
    background-color: @surface;
    color: @rose;
    border-left: 0px;
    border-right: 0px;
}

#custom-power_button {
    background-color: @surface;
    color: @rose;
    border-left: 0px;
    border-right: 0px;
}
