* {
    font-size: 15px;
}

#window {
    margin: 0px;
    border: 3px solid --wofi-color8;
    font-size: 15px;
    border-radius: 20px;
    background-image: image(url("/home/pops/.config/swww/wallpaper.wofi"));
}

#input {
    border: none;
    font: "JetbrainsMonoNerdFont";
    font-weight: bold;
    font-size: 14px;
    background-color: --wofi-color1;
   	outline: none;
    border-radius: 15px;
    border: 4px solid --wofi-color0;
    margin-bottom: 10px;
    margin-left: 13px;
    margin-right: 550px;
    padding: 8px;
}

#input:focus {
    color: --wofi-color5;
}

#inner-box {
    color: --wofi-color5;
    font-weight: bold;
    background-color: transparent;
    margin-left: 20px;
    margin-right: 20px;
}

#outer-box {
    margin: 5px;
    background-color: rgba(0,0,0,0.2);
    color: transparent;
    margin: 20px;
    border-radius: 15px;
    padding-top: 10px;
}

#scroll {
    margin-top: 5px;
    border: none;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 15px;
    margin-bottom: 15px;
}

#text {
    color: #fafafa;
}

#text:selected {
    color: --wofi-color1;
    background-color: transparent;
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
}

#entry {
    background-color: transparent;
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
}

#entry:unselected {
    background-color: transparent;
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(90deg, --wofi-color10 0%,  #ffffff 100%);
    color: --wofi-color5;
}

#img {
    background-color: transparent;
}
