* {
    background-image: none;
    font-size: 18px;
}

@import "theme.css";

window {
    background-color: rgba(0,0,0,.7);
}

button {
    color: #e0def4;
    background-color: @main-bg;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: @wb-act-bg;
    background-size: 30%;
}

button:hover {
    background-color: @wb-hvr-bg;
    background-size: 30%;
    border-radius: 30px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    border-radius: 30px;
    margin : 0px 50px 50px 0px;
}

button:hover#logout {
    border-radius: 30px;
    margin : 0px 0px 50px 0px;
}

button:hover#suspend {
    border-radius: 30px;
    margin : 0px 0px 50px 50px;
}

button:hover#shutdown {
    border-radius: 30px;
    margin : 50px 0px 0px 0px;
}

button:hover#hibernate {
    border-radius: 30px;
    margin : 50px 50px 0px 0px;
}

button:hover#reboot {
    border-radius: 30px;
    margin : 50px 0px 0px 50px;
}

#lock {
    background-image: image(url("$HOME/.config/wlogout/icons/lock_#ebbcba.png"), url("/usr/share/wlogout/icons/lock.png"), url("~/.config/wlogout/icons/lock_white.png"));
    border-radius: 30px 0px 0px 0px;
    margin : 0px 0px 0px 0px;
}

#logout {
    background-image: image(url("$HOME/.config/wlogout/icons/logout_#ebbcba.png"), url("/usr/share/wlogout/icons/logout.png"), url("~/.config/wlogout/icons/logout_white.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 0px 0px 0px 0px;
}

#suspend {
    background-image: image(url("$HOME/.config/wlogout/icons/suspend_#ebbcba.png"), url("/usr/share/wlogout/icons/suspend.png"), url("~/.config/wlogout/icons/suspend_white.png"));
    border-radius: 0px 30px 0px 0px;
    margin : 0px 0px 0px 0px;
}

#shutdown {
    background-image: image(url("$HOME/.config/wlogout/icons/shutdown_#ebbcba.png"), url("/usr/share/wlogout/icons/shutdown.png"), url("~/.config/wlogout/icons/shutdown_white.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 0px 0px 0px 0px;
}

#hibernate {
    background-image: image(url("$HOME/.config/wlogout/icons/hibernate_#ebbcba.png"), url("/usr/share/wlogout/icons/hibernate.png"), url("~/.config/wlogout/icons/hibernate_white.png"));
    border-radius: 0px 0px 0px 30px;
    margin : 0px 0px 0px 0px;
}

#reboot {
    background-image: image(url("$HOME/.config/wlogout/icons/reboot_#ebbcba.png"), url("/usr/share/wlogout/icons/reboot.png"), url("~/.config/wlogout/icons/reboot_white.png"));
    border-radius: 0px 0px 30px 0px;
    margin : 0px 0px 0px 0px;
}
