* {
    border: none;
    font-family: "JetbrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

@import "../../themes/rose-pine.css";

window#waybar {
    background: @bar-bg;
}

tooltip {
    background: @surface;
    border-color: @base;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

#workspaces button {
    padding: 5px;
    color: @workspace-button-inactive;
    margin-right: 5px;
}

#workspaces button.active {
    color: @workspace-button-active
}

#workspaces button.focused {
    color: @workspace-button-active;
    border-radius: 10px;
}

#workspaces button.urgent {
    background: @love;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @base;
    color: @subtle;
    border-radius: 10px;
}

#custom-power_profile,
#custom-weather,
#custom-power_button,
#custom-bg_switcher,
#keyboard-state,
#clock,
#battery,
#pulseaudio,
#network,
#memory,
#disk,
#cpu,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
    background: @surface;
    opacity: 9.9;
    padding: 0px 10px;
    margin: 0px 0px;
    margin-top: 10px;
    border: 1px solid @base;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#keyboard-state {
    color: @rose;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-bg_switcher {
    color: @iris;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
}

#custom-power_button {
    color: @love;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
    border-left: 0px;
}

#clock {
    color: @foam;
    border-radius: 10px 10px 10px 10px;
    margin-left: 10px;
    border-right: 0px;
}

#disk {
    color: @love;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
}

#memory {
    color: @foam;
    border-radius: 0px 0px 0px 0px;
    border-left: 0px;
    border-right: 0px;
}

#cpu {
    color: @iris;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 10px;
}

#network {
    color: @gold;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: @rose;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: @love;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#battery {
    color: @battery;
    border-radius: 10px 10px 10px 10px;
    margin-right: 10px;
    border-left: 0px;
}

#custom-weather {
    color: @foam;
    border-radius: 10px 10px 10px 10px;
    border-right: 0px;
    margin-left: 10px;
}
