* {
    border: none;
    font-family: "JetbrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

@import "../../themes/theme.css";

window#waybar {
    background: @surface;
    border-radius: 21px;
    border: 3px solid @base;
}

tooltip {
    border-width: 3px;
    border-radius: 15px;
    border-style: solid;
    border-color: @base;
    background: @surface;
}

/* tooltip content */
tooltip label {
    all: inherit;
    color: @text;
    text-shadow: none;
}

#custom-padding_bg,
#custom-padding_left,
#custom-padding_right,
#custom-power_profile,
#custom-weather,
#custom-power_button,
#custom-bg_switcher,
#keyboard-state,
#clock,
#battery,
#pulseaudio,
#network,
#memory,
#disk,
#cpu,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
    background: @surface;
    opacity: 1;
    margin: 4px 0px 4px 0px;

    padding-left: 7.6px;
    padding-right: 7.6px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
}

#workspaces {
    padding-top: 0px;
    padding-bottom: 0px;
    background: @surface;
    opacity: 0.8;
    color: @textcolor1;
}

#workspaces button {
    border-radius: 15px;
    background: @surface;
    color: @text;
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
}

#workspaces button.active {
    color: @surface;
    background: @foam;
    border-radius: 21px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity: 1.0;
}

#workspaces button:hover {
    color: @text;
    background: @pine;
    border-radius: 15px;
    min-width: 40px;
    opacity: 0.7;
}

#keyboard-state {
    color: @rose;
}

#clock {
    color: @foam;
}

#disk {
    color: @love;
}

#memory {
    color: @foam;
}

#cpu {
    color: @iris;
}

#network {
    color: @gold;
}

#pulseaudio,
#pulseaudio.microphone {
    color: @rose;
}

#battery {
    color: @battery;
}

#custom-seperator {
    color: @muted;
}

#custom-weather {
    color: @foam;
}

#custom-waybar_switcher,
#custom-theme_settings,
#custom-power_button,
#custom-theme_switcher,
#custom-wall_switcher {
    color: @rose;
    border-color: @base;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 7px;
    margin-left: 7px;
}

#custom-waybar_switcher {
    color: @rose;
    margin-right: 4px;
    padding-right: 10px;
}

#custom-theme_settings {
    color: @rose;
    padding-left: 3px;
}

#custom-padding_left {
    border-radius: 21px 0px 0px 21px;
    margin-left: 9px;
}

#custom-padding_right {
    border-radius: 0px 21px 21px 0px;
    margin-right: 9px;
}
