* {
    background-image: none;
    font-size: ${FONT_SIZE};
    font-family: MapleMono;
}

@import "${HOME}/.config/wlogout/themes/theme.css";

window {
    background-color: rgba(0,0,0,.7);
}

button {
    color: @text;
    background-color: @surface;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: @color-focus;
    background-size: 30%;
}

button:hover {
    background-color: @color-hover;
    background-size: 30%;
    border-radius: 30px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#suspend {
    border-radius: ${CORNER_ROUNDING}px ${CORNER_ROUNDING}px 0px ${CORNER_ROUNDING}px;
    margin : ${Y_HOVER}px 0px 0px ${X_HOVER}px;
}

button:hover#logout {
    border-radius: ${CORNER_ROUNDING}px 0px ${CORNER_ROUNDING}px ${CORNER_ROUNDING}px;
    margin : 0px 0px ${Y_HOVER}px ${X_HOVER}px;
}

button:hover#shutdown {
    border-radius: 30px;
    border-radius: ${CORNER_ROUNDING}px ${CORNER_ROUNDING}px ${CORNER_ROUNDING}px 0px;
    margin : ${Y_HOVER}px ${X_HOVER}px 0px 0px;
}

button:hover#reboot {
    border-radius: 30px;
    border-radius: 0px ${CORNER_ROUNDING}px ${CORNER_ROUNDING}px ${CORNER_ROUNDING}px;
    margin : 0px ${X_HOVER}px ${Y_HOVER}px 0px;
}

#suspend {
    background-image: image(url("${HOME}/.config/wlogout/icons/suspend_${BUTTON_COLOR}.png"));
    border-radius: 30px 0px 0px 0px;
    margin : ${Y_MARGIN}px 0px 0px ${X_MARGIN}px;
}

#logout {
    background-image: image(url("${HOME}/.config/wlogout/icons/logout_${BUTTON_COLOR}.png"));
    border-radius: 0px 0px 0px 30px;
    margin : 0px 0px ${Y_MARGIN}px ${X_MARGIN}px;
}

#shutdown {
    background-image: image(url("${HOME}/.config/wlogout/icons/shutdown_${BUTTON_COLOR}.png"));
    border-radius: 0px 30px 0px 0px;
    margin : ${Y_MARGIN}px ${X_MARGIN}px 0px 0px;
}

#reboot {
    background-image: image(url("${HOME}/.config/wlogout/icons/reboot_${BUTTON_COLOR}.png"));
    border-radius: 0px 0px 30px 0px;
    margin : 0px ${X_MARGIN}px ${Y_MARGIN}px 0px;
}
